
# IDE Created folders
# /.vscode  # Uncommented in /cicd so .vscode/settings.json example makes source

# Python Generated
*.pyc
/logs

/data

# Env + testing
/.tox

# Test coverage
/htmlcov
.coverage

# Packaging
/build
/dist
*.egg-info
/*.egg
