
# IDE Created folders
/.vscode

# Python Generated
/.mypy_cache
*.pyc
*.sqlite

# Standard Folders
/data
/models
/notes

# Logs
/logs
*.log


# Env + testing
/.tox
.pytest_cache

# Test coverage
/htmlcov
.coverage


# Packaging
/build
/dist
*.egg-info
/*.egg
