

.single_img{
    padding: 2% 2%;
    max-width:500px;
}

.unit_voter_div{
    display: flex;
    flex-direction: column;
}
.layout_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
